<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.welfare.jobs.mapper.PmsPositionMapper">
    <insert id="insertPosition">
        insert pms_position
            (job_title, company_name, city_id, job_description, industry, position_type, min_salary, max_salary, creator_id)
        VALUES (#{pmsPosition.jobTitle}, #{pmsPosition.companyName}, #{pmsPosition.cityId},
                #{pmsPosition.jobDescription}, #{pmsPosition.industry}, #{pmsPosition.positionType},
                #{pmsPosition.minSalary}, #{pmsPosition.maxSalary}, #{userId})
    </insert>


    <select id="selectAll" resultType="indi.welfare.jobs.entity.PmsPosition">
        select *
        from pms_position
        where suspend &lt;&gt; 1 order by create_time desc
    </select>

    <select id="selectAppliedPositionsByUserId" resultType="indi.welfare.jobs.entity.PmsPosition">
        select p.*, pap.create_time as pap_time
        from pms_position p left join pms_applied_position pap
        on p.id = pap.position_id
        where pap.user_id = #{userId}
        order by pap_time Desc
    </select>
</mapper>